3974R_0_M_NS1_week10_S79_L001_R2_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
3974R_L_M_NS1_week10_S80_L001_R1_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
1030R_0_M_NS1_week10_S77_L001_R2_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
1030R_R_M_NS1_week10_S78_L001_R2_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
160R_L_F_S2_week10_S50_L001_R1_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
2472R_R_F_NS1_week10_S74_L001_R2_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
3795R_R_F_S2_week10_S51_L001_R1_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
3874R_0_F_NS1_week10_S75_L001_R1_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
3874R_L_F_NS1_week10_S76_L001_R1_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
3896R_L_M_S2_week10_S53_L001_R2_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
1030R_R_M_NS1_week10_S78_L001_R1_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
160R_L_F_S2_week10_S50_L001_R2_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
2472R_0_F_NS1_week10_S73_L001_R1_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
3896R_0_M_S2_week10_S52_L001_R2_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
3909R_R_M_S2_week10_S54_L001_R1_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
3909R_R_M_S2_week10_S54_L001_R2_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
3974R_0_M_NS1_week10_S79_L001_R1_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
3974R_L_M_NS1_week10_S80_L001_R2_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
1030R_0_M_NS1_week10_S77_L001_R1_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
160R_0_F_S2_week10_S49_L001_R2_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
2472R_0_F_NS1_week10_S73_L001_R2_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
2472R_R_F_NS1_week10_S74_L001_R1_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
3795R_R_F_S2_week10_S51_L001_R2_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
3874R_L_F_NS1_week10_S76_L001_R2_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
160R_0_F_S2_week10_S49_L001_R1_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
3874R_0_F_NS1_week10_S75_L001_R2_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
3896R_0_M_S2_week10_S52_L001_R1_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
3896R_L_M_S2_week10_S53_L001_R1_001.fastq.gz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
